:root {
    --shadow: #151515;
    --bg: #1e1e1e;
    --bg-2: #333;
    --bg-3: #444;
    --fg: #e0e0e0;
    --warn: hsl(0, 100%, 88%);
    --blue: #2094f3;
    /* --bar-1: hsl(207, 100%, 10%);
    --bar-2: hsl(207, 80%, 25%);
    --bar-3: hsl(207, 60%, 40%);
    --bar-4: hsl(207, 60%, 55%);
    --bar-5: hsl(207, 80%, 70%);
    --bar-6: hsl(207, 100%, 85%); */
    --bar-1: hsl(215, 90%, 96%);
    --bar-2: hsl(216, 90%, 84%);
    --bar-3: hsl(217, 91%, 68%);
    --bar-4: hsl(217, 91%, 48%);
    --bar-5: hsl(217, 92%, 24%);
    --bar-6: hsl(216, 93%, 6%);
}

/* Global Styles */
body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: -apple-system, " ", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.5;
    margin: 0;
}

/* Layout */
main {
    height: calc(100vh - 54px);
    width: 100vw;
    display: flex;
    flex-direction: row;
}
aside, #tabs {
    flex-grow: 3;
    margin: 20px;
    height: calc(100vh - 94px);
    overflow-y: auto;
}
#tabs {
    margin-bottom: 0;
}
#tabs > div {
    height: calc(100vh - 74px);
    overflow-x: auto;
}
aside {
    background-color: var(--bg-2);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 380px;
    padding: 10px;
    height: calc(100vh - 114px);
}

/* Helpers */
.hide {
    display: none !important;
}

/* Graphs */
.bar {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    padding: 0;
    border: 1px solid var(--blue);
    border-radius: 1px;
}
.bar > div {
    position: relative;
    height: 20px;
    border-right: 2px solid var(--bg);
}
.bar > div:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    display: block;
    text-align: center;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    line-height: 20px;
    width: max-content;
    border-radius: 2px;
    padding: 5px 8px;
    color: var(--fg);
    background-color: var(--bg-3);
    z-index: 1;
}
table.bar-colors tr > th:nth-child(1) {
    width: 30px;
}
.bar > div:nth-child(1), table.bar-colors tr:nth-child(2) > th:nth-child(1) {
    background-color: var(--bar-1);
}
.bar > div:nth-child(2), table.bar-colors tr:nth-child(3) > th:nth-child(1) {
    background-color: var(--bar-2);
}
.bar > div:nth-child(3), table.bar-colors tr:nth-child(4) > th:nth-child(1) {
    background-color: var(--bar-3);
}
.bar > div:nth-child(4), table.bar-colors tr:nth-child(5) > th:nth-child(1) {
    background-color: var(--bar-4);
}
.bar > div:nth-child(5), table.bar-colors tr:nth-child(6) > th:nth-child(1) {
    background-color: var(--bar-5);
}
.bar > div:nth-child(6), table.bar-colors tr:nth-child(7) > th:nth-child(1) {
    background-color: var(--bar-6);
}

/* Shadows */
aside, #tabs > div > div {
    box-shadow: 2px 2px 4px var(--shadow);
}
#tabs {
    overflow-y: visible;
}

/* Table Styles */
table {
    margin: 15px auto;
    min-width: 60%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
tr details > summary {
    font-weight: normal;
}
th, td {
    border: 1px solid var(--bg-3);
    padding: 10px;
    text-align: left;
}
th {
    font-weight: bold;
}
td {
    text-align: right;
}

/* Inputs */
label {
    padding: 20px 0 10px 0;
    display: block;
}
input, select, textarea {
    font-size: 1.1em;
    line-height: 1;
    padding: 10px;
    border: 1px solid var(--bg-2);
    border-radius: 5px;
    margin: 0 10px;
    width: calc(100% - 41px);
}
input:focus, select:focus, textarea:focus {
    outline: none;
}
input:invalid, select:invalid, textarea:invalid {
    background-color: var(--warn);
}
input[type=number] {
    text-align: right;
    appearance: textfield;
    -moz-appearance: textfield;
}
div.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}
div.inline > * {
    flex-basis: 50px;
    flex-grow: 1;
}
div.inline > label {
    padding: 0 15px;
    text-align: center;
}

/* Accordion Styles */
details.section {
    margin: 15px 0 10px 0;
    padding-top: 15px;
}
aside > details.section, .divider-top {
    border-top: 1px solid var(--bg-3);
}
details > summary {
    user-select: none;
    font-weight: bold;
}
details > div {
    font-size: 0.9em;
    padding: 0 15px 0 15px;
}

/* Tabs */
#tabs > div {
    display: none;
}
#tabs > div:target {
    display: block;
}
#tabs > div > div {
    margin: 20px auto;
    background-color: var(--bg-2);
    padding: 5px 15px;
}
#tabs > div > details.section > summary {
    font-size: 1.2em;
    line-height: 1;
    margin: 20px 0;
}

/* Warning */
div.noscript {
    font-weight: bold;
    color: var(--warn);
    border-bottom: 1px solid var(--bg-3);
}

/* Link Styles */
a {
    color: var(--blue);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Navigation Styles */
nav {
    background-color: var(--bg-2);
    padding: 15px;
    height: 24px;
    line-height: 24px;
}
nav * {
    color: var(--fg);
    margin-right: 15px;
}
nav *:first-child {
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    font-weight: bold;
}

/* Small screens */
@media (max-width: 800px) {
    main {
        flex-direction: column;
    }
    aside, #tabs {
        flex-grow: 0;
        margin-bottom: 0;
    }
    aside {
        flex-basis: 320px;
        flex-grow: 0;
    }
    #tabs {
        margin-top: 0;
    }
    #tabs > div {
        height: calc(100vh - 420px);
    }
}